.main-container{
    background-color: #2C2E3A;
    height: 40px;
    width: 300px;
    margin: 0 auto;
    margin-top:45px;
    border-radius:20px;
    transition: width 0.2s;
}
.main-container:hover{
    width: 600px;
}