*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("temp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.root-container{
    height: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
  
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    backdrop-filter: blur(40px);
}
.nav-container{
    position: absolute;
    top: 20px;
    left: 20%;
    height: 35px;
    width: 60%;
    /* border: 1px solid rgb(255, 255, 255); */
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px 0px, rgb(255, 255, 255) 0px 0px 1px 0px;
    border-radius: 5px;
}
.nav-tools li{
    list-style: none;
    float: left;
   margin-left: 20px;
}
.fa,.fa-home,.idk{
    height: 15px;
    padding: 10px 10px;
    /* border: 1px solid black; */
    font-weight: 600;
    width: auto;
    transition: background-color 0.4s;
    color: white;
}
.fa-home:hover{
    background-color: lightskyblue;
}
.idk:hover{
    background-color: lightskyblue;
}
